<?xml version="1.0"?>
<!--
/*
 * HiPay fullservice SDK
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @copyright      Copyright (c) 2016 - HiPay
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Sales::sales">
                    <resource id="HiPay_FullserviceMagento::hipay_payment" title="HiPay Payment" sortOrder="10">
                        <resource id="HiPay_FullserviceMagento::hipay_payment_profile"  title="Payment Profile" sortOrder="10" />
                        <resource id="HiPay_FullserviceMagento::hipay_split_payment"  title="Split Payment" sortOrder="20" >
                        	<resource id="HiPay_FullserviceMagento::split_save" title="Save split payment" sortOrder="10" />
                        	<resource id="HiPay_FullserviceMagento::split_delete" title="Delete split payment" sortOrder="20" />
                        	<resource id="HiPay_FullserviceMagento::split_pay" title="Pay split payment" sortOrder="30" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="HiPay_FullserviceMagento::hipay" title="HiPay configuration generale" sortOrder="60" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
