.hipay-section .heading {background: url("images/hipay/hipay-full-color.png") no-repeat 4% 50% / 10rem auto; padding-left: 20rem;}
.hipay-section .button-container {float: right;}
.admin__menu .item-hipay-payment-menu  > a:before {
    content: ''!important;
    background: url(images/hipay/hipay.svg) no-repeat center center / 5.1rem auto   ;
    display: block;
    font-size: 2.2rem;
    height: 3rem!important;;
    margin-bottom: .3rem;
}
