image: $REGISTRY_CI/gitlab-ci-base:buster

variables:
  DOCKER_HOST: tcp://localhost:2375/
  DOCKER_DRIVER: overlay2
  MAGENTO_VERSION: 2.4.8-p2
  GIT_DEPTH: 10
  RELEASE_NAME: ${DOCKER_STACK}-${DOCKER_SERVICE}-${CI_COMMIT_REF_SLUG}

stages:
  - quality
  - build-test
  - test
  - release
  - build
  - deploy

include:
  - project: 'pi-ecommerce/cms/cms-template-ci'
    ref: '1.1.0'
    file: 'release.yaml'

#########################
####  TEMPLATE      ####
########################

.test_template: &test_definition
  allow_failure: false
  variables:
    MARIADB_ROOT_PASSWORD: root
    MARIADB_DATABASE: magento
    MARIADB_USER: magento
    MARIADB_PASSWORD: magento

    GITHUB_API_TOKEN: $GITHUB_TOKEN
    GITLAB_API_TOKEN: $GITLAB_API_TOKEN

    CUSTOM_REPOSITORIES: vcs https://gitlab.hipay.org/pi-ecommerce/hipay-fullservice-sdk-magento2.git,vcs https://github.com/hipay/hipay-fullservice-sdk-php.git
    CUSTOM_PACKAGES: hipay/hipay-fullservice-sdk-magento2:dev-$CI_COMMIT_REF_NAME,hipay/hipay-fullservice-sdk-php,giggsey/libphonenumber-for-php,mmustafaydogan/module-log-viewer:dev-main,markshust/magento2-module-disabletwofactorauth
    HIPAY_PACKAGES: hipay/module-multistores
    CUSTOM_MODULES: HiPay_FullserviceMagento,HiPay_MultiStores

    HOST_UID: '1000'
    HOST_GID: '1000'
    MAGENTO_HOST: 127.0.0.1
    MAGENTO_EXTERNAL_HTTP_PORT_NUMBER: 8096
    MAGENTO_EXTERNAL_HTTPS_PORT_NUMBER: 8096
    MAGENTO_VERSION: $MAGENTO_VERSION
    MAGENTO_DATABASE_HOST: db
    MAGENTO_DATABASE_PORT_NUMBER: 3306
    MAGENTO_DATABASE_USER: magento
    MAGENTO_DATABASE_PASSWORD: magento
    MAGENTO_DATABASE_NAME: magento
    MAGENTO_USERNAME: demo
    MAGENTO_PASSWORD: hipay123
    MAGENTO_EMAIL: demo@hipay.com
    MAGENTO_MODE: developer
    ALLOW_EMPTY_PASSWORD: yes
    OPENSEARCH_HOST: opensearch
    OPENSEARCH_PORT_NUMBER: 9200
    OPENSEARCH_ENABLED: true
    OPENSEARCH_USER: admin
    OPENSEARCH_PASSWORD: Hg7$9LpQz@32

    ENVIRONMENT: stage
    HIPAY_API_USER_TEST: $HIPAY_API_USER_TEST
    HIPAY_API_PASSWORD_TEST: $HIPAY_API_PASSWORD_TEST
    HIPAY_SECRET_PASSPHRASE_TEST: $HIPAY_SECRET_PASSPHRASE_TEST
    HIPAY_TOKENJS_USERNAME_TEST: $HIPAY_TOKENJS_USERNAME_TEST
    HIPAY_TOKENJS_PUBLICKEY_TEST: $HIPAY_TOKENJS_PUBLICKEY_TEST
    HIPAY_APPLEPAY_USERNAME_TEST: $HIPAY_APPLEPAY_USERNAME_TEST
    HIPAY_APPLEPAY_PASSWORD_TEST: $HIPAY_APPLEPAY_PASSWORD_TEST
    HIPAY_APPLEPAY_SECRET_PASSPHRASE_TEST: $HIPAY_APPLEPAY_SECRET_PASSPHRASE_TEST
    HIPAY_APPLEPAY_TOKENJS_USERNAME_TEST: $HIPAY_APPLEPAY_TOKENJS_USERNAME_TEST
    HIPAY_APPLEPAY_TOKENJS_PUBLICKEY_TEST: $HIPAY_APPLEPAY_TOKENJS_PUBLICKEY_TEST
    SMTP_LINK: common-smtp:1025
    ACTIVE_METHODS: $ACTIVE_METHODS
    XDEBUG_ENABLED: 0
    PI_DATA_URL: $PI_CI_DATA_URL

  services:
    - name: $REGISTRY_CI/test-jobs-${DOCKER_STACK}-${DOCKER_SERVICE}_web:${CI_COMMIT_REF_SLUG}
      alias: phpfpm
    - name: docker.io/mariadb:11.4
      alias: db
    - name: docker.io/markoshust/magento-opensearch:2.5-1
      alias: opensearch
    - name: docker.io/markoshust/magento-nginx:1.24-0
      alias: app
  artifacts:
    paths:
      - bin/tests/errors
    when: always
  tags:
    - small
  rules:
    - if: $ONLY_DEPLOY
      when: never
    - if: $CI_COMMIT_MESSAGE =~ /skip-tests/
      when: never
    - when: on_success

.login_to_registry: &login-to-registry
  before_script:
    - 'mkdir /tmp'
    - 'touch /tmp/credentials.json'
    - 'echo ${SA_REGISTRY_CD} > /tmp/credentials.json'
    - 'export GOOGLE_APPLICATION_CREDENTIALS=/tmp/credentials.json'

.login_to_cd: &login-to-cd
  before_script:
    # Connect GCP with deploy service account
    - mkdir -p /tmp
    - touch /tmp/credentials.json
    - echo ${SA_DEPLOY_CD} > /tmp/credentials.json
    - gcloud auth activate-service-account "${SA_DEPLOY_NAME}" --key-file="/tmp/credentials.json"
    - gcloud config set project "${GCP_CD_PROJECT_ID}"
    - gcloud config set compute/zone "${GCP_CD_CLUSTER_REGION}"
    - gcloud container clusters get-credentials "${GCP_CD_CLUSTER_NAME}"

#########################
####      JOBS      ####
########################

code-quality:
  stage: quality
  script:
    - cd ci-tools/phpcs
    - composer install
    - ./vendor/bin/phpcs --standard=ruleset.xml
  rules:
    - if: $ONLY_DEPLOY
      when: never
    - when: on_success
  tags:
    - small

build-test-2-1-10:
  stage: build-test
  image:
    name: gcr.io/kaniko-project/executor:v1.6.0-debug
  variables:
    KANIKO_CACHE: 'true'
  script:
    - cp bin/docker/conf/development/auth.json.sample bin/docker/conf/development/auth.json
    - sed -i "s|<MAGE_ACCOUNT_PUBLIC_KEY>|$MAGE_ACCOUNT_PUBLIC_KEY|" bin/docker/conf/development/auth.json
    - sed -i "s|<MAGE_ACCOUNT_PRIVATE_KEY>|$MAGE_ACCOUNT_PRIVATE_KEY|" bin/docker/conf/development/auth.json
    - /kaniko/executor
      --force
      --cache=${KANIKO_CACHE}
      --context "dir://${CI_PROJECT_DIR}"
      --dockerfile "./bin/docker/images/default/Dockerfile"
      --destination "$REGISTRY_CI/test-jobs-${DOCKER_STACK}-${DOCKER_SERVICE}_web:${CI_COMMIT_REF_SLUG}"
  rules:
    - if: $ONLY_DEPLOY
      when: never
    - when: on_success
  tags:
    - small

.casperjs-2-1-10:
  <<: *test_definition
  stage: test
  script:
    - curl --retry 20 --retry-delay 10 --retry-connrefused --output /dev/null http://web
    - sh bin/tests/casper_run_circle.sh http://web:8096
  rules:
    - if: $ONLY_DEPLOY
      when: never
    - when: on_success
  tags:
    - medium

build:
  <<: *login-to-registry
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.6.0-debug
  needs: []
  rules:
    - if: $ONLY_DEPLOY
      when: on_success
    - if: $CI_PIPELINE_SOURCE == "push"
      when: manual
  variables:
    KANIKO_CACHE: 'true'
  script:
    - cp bin/docker/conf/development/auth.json.sample bin/docker/conf/development/auth.json
    - sed -i "s|<MAGE_ACCOUNT_PUBLIC_KEY>|$MAGE_ACCOUNT_PUBLIC_KEY|" bin/docker/conf/development/auth.json
    - sed -i "s|<MAGE_ACCOUNT_PRIVATE_KEY>|$MAGE_ACCOUNT_PRIVATE_KEY|" bin/docker/conf/development/auth.json
    - /kaniko/executor
      --force
      --cache=${KANIKO_CACHE}
      --context "dir://${CI_PROJECT_DIR}"
      --dockerfile "./bin/docker/images/default/Dockerfile"
      --build-arg ENVIRONMENT=production
      --destination "${REGISTRY_CD}/${DOCKER_STACK}-${DOCKER_SERVICE}-web:${CI_COMMIT_REF_SLUG}"
  tags:
    - small

deploy2recette:
  <<: *login-to-cd
  stage: deploy
  image: $REGISTRY_CI/gitlab-ci-base:deployment
  needs:
    - build
  rules:
    - if: $ONLY_DEPLOY
      when: on_success
    - if: $CI_PIPELINE_SOURCE == "push"
      when: manual
  variables:
    GPC_ACCOUNT: ''
  script:
    - echo $RELEASE_NAME
    - |-
      BRANCH=$CI_COMMIT_REF_NAME
      if [ "$CI_COMMIT_TAG" = "" ]; then
        BRANCH=dev-$CI_COMMIT_REF_NAME
      fi
    - >
      helm install $RELEASE_NAME ./bin/docker/kubernetes/helm/
      --namespace default
      --set magento2_version="$MAGENTO_VERSION"
      --set magento2_image="${REGISTRY_CD}/${DOCKER_STACK}-${DOCKER_SERVICE}-web"
      --set magento2_tag="${CI_COMMIT_REF_SLUG}"
      --set magento2_url="${DOCKER_STACK}-${DOCKER_SERVICE}-${CI_COMMIT_REF_SLUG}.${URL_CD}"
      --set github_api_token="${GITHUB_TOKEN}"
      --set gitlab_api_token="${GITLAB_API_TOKEN}"
      --set hipay_api_user_test="$HIPAY_API_USER_RE7"
      --set hipay_api_password_test="$HIPAY_API_PASSWORD_RE7"
      --set hipay_secret_passphrase_test="$HIPAY_SECRET_PASSPHRASE_RE7"
      --set hipay_tokenjs_username_test="$HIPAY_TOKENJS_USERNAME_RE7"
      --set hipay_tokenjs_publickey_test="$HIPAY_TOKENJS_PUBLICKEY_RE7"
      --set hipay_applepay_username_test="$HIPAY_APPLEPAY_USERNAME_RE7"
      --set hipay_applepay_password_test="$HIPAY_APPLEPAY_PASSWORD_RE7"
      --set hipay_applepay_secret_passphrase_test="$HIPAY_APPLEPAY_SECRET_PASSPHRASE_RE7"
      --set hipay_applepay_tokenjs_username_test="$HIPAY_APPLEPAY_TOKENJS_USERNAME_RE7"
      --set hipay_applepay_tokenjs_publickey_test="$HIPAY_APPLEPAY_TOKENJS_PUBLICKEY_RE7"
      --set pi_data_url="$PI_CI_DATA_URL"
      --set branch="$BRANCH"
      --wait
      --timeout 5m
  allow_failure: true
  environment:
    name: review/${CI_COMMIT_REF_SLUG}
    url: https://${DOCKER_STACK}-${DOCKER_SERVICE}-${CI_COMMIT_REF_SLUG}.${URL_CD}
    on_stop: stop_review
  tags:
    - small

stop_review:
  <<: *login-to-cd
  stage: deploy
  image: $REGISTRY_CI/gitlab-ci-base:deployment
  needs:
    - deploy2recette
  rules:
    - if: $ONLY_DEPLOY
      when: manual
    - if: $CI_PIPELINE_SOURCE == "push"
      when: manual
  variables:
    GIT_STRATEGY: none
  script:
    - helm uninstall $RELEASE_NAME --namespace=default
  allow_failure: true
  environment:
    name: review/${CI_COMMIT_REF_SLUG}
    action: stop
  tags:
    - small
