magento2:
  build: .
  ports:
    - "8080:80"
  links:
    - db
    - selenium
  env_file:
  - ./auth.env
  - ./module.env
  - ./mage.env
db:
  image: mysql:5.6
  environment:
    - MYSQL_ROOT_PASSWORD=magento2
selenium:
  image: selenium/standalone-firefox
