<?xml version="1.0"?>
<!--
/**
 * HiPay Fullservice Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Apache 2.0 Licence
 * that is bundled with this package in the file LICENSE.md.
 * It is also available through the world-wide-web at this URL:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * @author Kassim Belghait <kassim@sirateck.com>
 * @copyright Copyright (c) 2016 - HiPay
 * @license http://www.apache.org/licenses/LICENSE-2.0 Apache 2.0 Licence
 * @link https://github.com/hipay/hipay-fullservice-sdk-magento2nce
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="HiPay\FullserviceMagento\Api\Data\NotificationInterface" type="HiPay\FullserviceMagento\Model\Notification"/>
    <type name="Magento\Payment\Model\Method\Providers\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="hipay_hosted_fields" xsi:type="const">HiPay\FullserviceMagento\Model\Method\HostedFieldsMethod::HIPAY_METHOD_CODE</item>
            </argument>
        </arguments>
    </type>
    <type name="HiPay\FullserviceMagento\Model\Method\Providers\LocalConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="hipay_bancontact_hosted_fields" xsi:type="const">HiPay\FullserviceMagento\Model\Method\BancontactHostedFields::HIPAY_METHOD_CODE</item>
                <item name="hipay_ideal_hosted_fields" xsi:type="const">HiPay\FullserviceMagento\Model\Method\IDealHostedFields::HIPAY_METHOD_CODE</item>
                <item name="hipay_mbway_hosted_fields" xsi:type="const">HiPay\FullserviceMagento\Model\Method\MbwayHostedFields::HIPAY_METHOD_CODE</item>
                <item name="hipay_multibanco_hosted_fields" xsi:type="const">HiPay\FullserviceMagento\Model\Method\MultibancoHostedFields::HIPAY_METHOD_CODE</item>
            </argument>
        </arguments>
    </type>
    <type name="HiPay\FullserviceMagento\Model\Method\Providers\ApplepayConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="hipay_applepay" xsi:type="const">HiPay\FullserviceMagento\Model\Method\ApplePay::HIPAY_METHOD_CODE</item>
            </argument>
        </arguments>
    </type>
    <type name="HiPay\FullserviceMagento\Model\Method\Providers\SplitConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="hipay_hostedsplit" xsi:type="const">HiPay\FullserviceMagento\Model\Method\HostedSplitMethod::HIPAY_METHOD_CODE</item>
            </argument>
        </arguments>
    </type>
    <type name="HiPay\FullserviceMagento\Model\Method\Providers\AstropayConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="hipay_bbva" xsi:type="const">HiPay\FullserviceMagento\Model\Method\Astropay\Bbva::HIPAY_METHOD_CODE</item>
                <item name="hipay_boleto" xsi:type="const">HiPay\FullserviceMagento\Model\Method\Astropay\Boleto::HIPAY_METHOD_CODE</item>
            </argument>
            <argument name="methodTypeIdentification" xsi:type="array">
                <item name="hipay_bbva" xsi:type="const">HiPay\FullserviceMagento\Model\Method\Astropay\Bbva::HIPAY_METHOD_IDENTIFICATION</item>
                <item name="hipay_boleto" xsi:type="const">HiPay\FullserviceMagento\Model\Method\Astropay\Boleto::HIPAY_METHOD_IDENTIFICATION</item>
            </argument>
        </arguments>
    </type>
    <type name="HiPay\FullserviceMagento\Model\Method\Providers\GenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="hipay_hosted" xsi:type="const">HiPay\FullserviceMagento\Model\Method\HostedMethod::HIPAY_METHOD_CODE</item>
                <item name="hipay_hostedmoto" xsi:type="const">HiPay\FullserviceMagento\Model\Method\HostedMoto::HIPAY_METHOD_CODE</item>
                <item name="hipay_hosted_fields" xsi:type="const">HiPay\FullserviceMagento\Model\Method\HostedFieldsMethod::HIPAY_METHOD_CODE</item>
                <item name="hipay_hostedsplit" xsi:type="const">HiPay\FullserviceMagento\Model\Method\HostedSplitMethod::HIPAY_METHOD_CODE</item>
                <item name="hipay_applepay" xsi:type="const">HiPay\FullserviceMagento\Model\Method\ApplePay::HIPAY_METHOD_CODE</item>
                <item name="hipay_sisal" xsi:type="const">HiPay\FullserviceMagento\Model\Method\Sisal::HIPAY_METHOD_CODE</item>
                <item name="hipay_sdd" xsi:type="const">HiPay\FullserviceMagento\Model\Method\Sdd::HIPAY_METHOD_CODE</item>
                <item name="hipay_yandexapi" xsi:type="const">HiPay\FullserviceMagento\Model\Method\YandexApi::HIPAY_METHOD_CODE</item>
                <item name="hipay_webmoneyapi" xsi:type="const">HiPay\FullserviceMagento\Model\Method\WebmoneyApi::HIPAY_METHOD_CODE</item>
                <item name="hipay_sofortapi" xsi:type="const">HiPay\FullserviceMagento\Model\Method\SofortApi::HIPAY_METHOD_CODE</item>
                <item name="hipay_bancontact_hosted_fields" xsi:type="const">HiPay\FullserviceMagento\Model\Method\BancontactHostedFields::HIPAY_METHOD_CODE</item>
                <item name="hipay_ideal_hosted_fields" xsi:type="const">HiPay\FullserviceMagento\Model\Method\IDealHostedFields::HIPAY_METHOD_CODE</item>
                <item name="hipay_ideal" xsi:type="const">HiPay\FullserviceMagento\Model\Method\IDeal::HIPAY_METHOD_CODE</item>
                <item name="hipay_giropay" xsi:type="const">HiPay\FullserviceMagento\Model\Method\Giropay::HIPAY_METHOD_CODE</item>
                <item name="hipay_postfinanceefinanceapi" xsi:type="const">HiPay\FullserviceMagento\Model\Method\PostFinanceEFinance::HIPAY_METHOD_CODE</item>
                <item name="hipay_postfinancecardapi" xsi:type="const">HiPay\FullserviceMagento\Model\Method\PostFinanceCard::HIPAY_METHOD_CODE</item>
                <item name="hipay_paypalapi" xsi:type="const">HiPay\FullserviceMagento\Model\Method\Paypal::HIPAY_METHOD_CODE</item>
                <item name="hipay_mbway_hosted_fields" xsi:type="const">HiPay\FullserviceMagento\Model\Method\MbwayHostedFields::HIPAY_METHOD_CODE</item>
                <item name="hipay_mbway" xsi:type="const">HiPay\FullserviceMagento\Model\Method\Mbway::HIPAY_METHOD_CODE</item>
                <item name="hipay_przelewy24api" xsi:type="const">HiPay\FullserviceMagento\Model\Method\Przelewy24Api::HIPAY_METHOD_CODE</item>
                <item name="hipay_bbva" xsi:type="const">HiPay\FullserviceMagento\Model\Method\Astropay\Bbva::HIPAY_METHOD_CODE</item>
                <item name="hipay_boleto" xsi:type="const">HiPay\FullserviceMagento\Model\Method\Astropay\Boleto::HIPAY_METHOD_CODE</item>
                <item name="hipay_facilypay3X" xsi:type="const">HiPay\FullserviceMagento\Model\Method\Facilypay\Facilypay3X::HIPAY_METHOD_CODE</item>
                <item name="hipay_facilypay4X" xsi:type="const">HiPay\FullserviceMagento\Model\Method\Facilypay\Facilypay4X::HIPAY_METHOD_CODE</item>
                <item name="hipay_creditlong" xsi:type="const">HiPay\FullserviceMagento\Model\Method\Facilypay\CreditLong::HIPAY_METHOD_CODE</item>
                <item name="hipay_creditlong_opc2" xsi:type="const">HiPay\FullserviceMagento\Model\Method\Facilypay\CreditLongOpc2::HIPAY_METHOD_CODE</item>
                <item name="hipay_creditlong_opc3" xsi:type="const">HiPay\FullserviceMagento\Model\Method\Facilypay\CreditLongOpc3::HIPAY_METHOD_CODE</item>
                <item name="hipay_creditlong_opc4" xsi:type="const">HiPay\FullserviceMagento\Model\Method\Facilypay\CreditLongOpc4::HIPAY_METHOD_CODE</item>
                <item name="hipay_klarna" xsi:type="const">HiPay\FullserviceMagento\Model\Method\Klarna::HIPAY_METHOD_CODE</item>
                <item name="hipay_bnpp4X" xsi:type="const">HiPay\FullserviceMagento\Model\Method\Bnpp\Bnpp4X::HIPAY_METHOD_CODE</item>
                <item name="hipay_bnpp3X" xsi:type="const">HiPay\FullserviceMagento\Model\Method\Bnpp\Bnpp3X::HIPAY_METHOD_CODE</item>
                <item name="hipay_mybank" xsi:type="const">HiPay\FullserviceMagento\Model\Method\Mybank::HIPAY_METHOD_CODE</item>
                <item name="hipay_multibanco_hosted_fields" xsi:type="const">HiPay\FullserviceMagento\Model\Method\MultibancoHostedFields::HIPAY_METHOD_CODE</item>
                <item name="hipay_multibanco" xsi:type="const">HiPay\FullserviceMagento\Model\Method\Multibanco::HIPAY_METHOD_CODE</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="hipay_fullservice_generic_config_provider" xsi:type="object">HiPay\FullserviceMagento\Model\Method\Providers\GenericConfigProvider</item>
                <item name="hipay_cc_config_provider" xsi:type="object">HiPay\FullserviceMagento\Model\Method\Providers\CcConfigProvider</item>
                <item name="hipay_split_config_provider" xsi:type="object">HiPay\FullserviceMagento\Model\Method\Providers\SplitConfigProvider</item>
                <item name="hipay_astropay_config_provider" xsi:type="object">HiPay\FullserviceMagento\Model\Method\Providers\AstropayConfigProvider</item>
                <item name="hipay_applepay_config_provider" xsi:type="object">HiPay\FullserviceMagento\Model\Method\Providers\ApplepayConfigProvider</item>
                <item name="hipay_local_config_provider" xsi:type="object">HiPay\FullserviceMagento\Model\Method\Providers\LocalConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="HiPay\FullserviceMagento\Model\Session\Storage" type="Magento\Framework\Session\Storage">
        <arguments>
            <argument name="namespace" xsi:type="string">hipay</argument>
        </arguments>
    </virtualType>
    <virtualType name="HiPay\FullserviceMagento\Model\Session" type="Magento\Framework\Session\Generic">
        <arguments>
            <argument name="storage" xsi:type="object">HiPay\FullserviceMagento\Model\Session\Storage</argument>
        </arguments>
    </virtualType>
    <virtualType name="HipayLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="hipay" xsi:type="object">HiPay\FullserviceMagento\Logger\HipayHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="HiPay\FullserviceMagento\Controller\Fullservice">
        <arguments>
            <argument name="hipaySession" xsi:type="object">HiPay\FullserviceMagento\Model\Session</argument>
        </arguments>
    </type>
    <type name="HiPay\FullserviceMagento\Controller\Notify\Index">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session</argument>
            <argument name="hipayConfig" xsi:type="object">HiPay\FullserviceMagento\Model\Config</argument>
            <argument name="notificationFactory" xsi:type="object">HiPay\FullserviceMagento\Model\Notification\Factory</argument>
            <argument name="logger" xsi:type="object">HipayLogger</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Url\SecurityInfo">
        <arguments>
            <argument name="secureUrlList" xsi:type="array">
                <item name="hipay" xsi:type="string">/hipay/</item>
            </argument>
        </arguments>
    </type>
</config>
