MAGE_INSTALL_SAMPLE_DATA=--use-sample-data
MAGE_ADMIN_FIRSTNAME=John
MAGE_ADMIN_LASTNAME=Doe
MAGE_ADMIN_EMAIL=john.doe@yopmail.com
MAGE_ADMIN_USER=admin
MAGE_ADMIN_PWD=admin123
MAGE_BASE_URL={MAGENTO_URL}
MAGE_BASE_URL_SECURE={MAGENTO_URL}
PORT_WEB={PORT_WEB}
MAGE_BACKEND_FRONTNAME=admin
MAGE_DB_HOST=db
MAGE_DB_PORT=3306
MAGE_DB_NAME=magento2
MAGE_DB_USER=magento2
MAGE_DB_PASSWORD=magento2
MAGE_DB_PREFIX=mage_
MAGE_LANGUAGE=en_US
MAGE_CURRENCY=EUR
MAGE_TIMEZONE=Europe/Paris
MAGE_USE_REWRITES=1
MAGE_USE_SECURE=0
MAGE_USE_SECURE_ADMIN=0
MAGE_ADMIN_USE_SECURITY_KEY=0
MAGE_SESSION_SAVE=files
MAGE_KEY=69c60a47f9dca004e47bf8783f4b9408

#====================================================
# If you want to clean database with reinstallation,
# set command argument value else let it empty
# Eg. MAGE_CLEANUP_DATABASE --cleanup-database
#=====================================================
MAGE_CLEANUP_DATABASE=
MAGE_DB_INIT_STATEMENTS=SET NAMES utf8;
MAGE_SALES_ORDER_INCREMENT_PREFIX=0

#=================================================
# Env var used after installation
#=================================================
MAGE_RUN_REINDEX=0
MAGE_RUN_CACHE_CLEAN=0
MAGE_RUN_CACHE_FLUSH=0
MAGE_RUN_CACHE_DISABLE=0
MAGE_RUN_STATIC_CONTENT_DEPLOY=0
MAGE_RUN_SETUP_DI_COMPILE=0
MAGE_RUN_DEPLOY_MODE=developer
