CUSTOM_REPOSITORIES=vcs git@github.com:hipay/hipay-fullservice-sdk-magento2.git,vcs git@github.com:hipay/hipay-fullservice-sdk-php.git
CUSTOM_PACKAGES=hipay/hipay-fullservice-sdk-magento2 dev-develop
CUSTOM_MODULES=HiPay_FullserviceMagento