<?xml version="1.0" encoding="UTF-8"?>
<!--
/*
 * HiPay fullservice SDK
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @copyright      Copyright (c) 2016 - HiPay
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="hipay" translate="label" type="text" sortOrder="345" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>HiPay Fullservice</label>
			<tab>sales</tab>
			<resource>HiPay_FullserviceMagento::hipay</resource>
			<include path="HiPay_FullserviceMagento::system/credentials.xml"/>
			<include path="HiPay_FullserviceMagento::system/emails.xml"/>
		</section>
		<section id="payment">
			<include path="HiPay_FullserviceMagento::system/method/hosted.xml"/>
			<include path="HiPay_FullserviceMagento::system/method/cc.xml"/>
			<include path="HiPay_FullserviceMagento::system/method/cc-split.xml"/>
			<include path="HiPay_FullserviceMagento::system/method/sisal.xml"/>	
			<include path="HiPay_FullserviceMagento::system/method/qiwi-wallet.xml"/>		
		</section>
	</system>
</config>