<?xml version="1.0"?>
<!--
/**
 * HiPay Fullservice Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Apache 2.0 Licence
 * that is bundled with this package in the file LICENSE.md.
 * It is also available through the world-wide-web at this URL:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * @copyright      Copyright (c) 2016 - HiPay
 * @license        http://www.apache.org/licenses/LICENSE-2.0 Apache 2.0 Licence
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
 <type name="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="hipay_cc" xsi:type="const">HiPay\FullserviceMagento\Model\CcMethod::HIPAY_METHOD_CODE</item>
                <item name="hipay_ccsplit" xsi:type="const">HiPay\FullserviceMagento\Model\Method\CcSplitMethod::HIPAY_METHOD_CODE</item>
            </argument>
        </arguments>
    </type>
    <type name="HiPay\FullserviceMagento\Model\Method\SplitConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="hipay_ccsplit" xsi:type="const">HiPay\FullserviceMagento\Model\Method\CcSplitMethod::HIPAY_METHOD_CODE</item>
                <item name="hipay_hostedsplit" xsi:type="const">HiPay\FullserviceMagento\Model\Method\HostedSplitMethod::HIPAY_METHOD_CODE</item>
            </argument>
        </arguments>
    </type>
     <type name="HiPay\FullserviceMagento\Model\Method\GenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
            	<item name="hipay_cc" xsi:type="const">HiPay\FullserviceMagento\Model\CcMethod::HIPAY_METHOD_CODE</item>
            	<item name="hipay_ccsplit" xsi:type="const">HiPay\FullserviceMagento\Model\Method\CcSplitMethod::HIPAY_METHOD_CODE</item>
                <item name="hipay_hosted" xsi:type="const">HiPay\FullserviceMagento\Model\HostedMethod::HIPAY_METHOD_CODE</item>
                <item name="hipay_hostedsplit" xsi:type="const">HiPay\FullserviceMagento\Model\Method\HostedSplitMethod::HIPAY_METHOD_CODE</item>
                <item name="hipay_sisal" xsi:type="const">HiPay\FullserviceMagento\Model\Method\Sisal::HIPAY_METHOD_CODE</item>
                <item name="hipay_qiwiwallet" xsi:type="const">HiPay\FullserviceMagento\Model\Method\QiwiWallet::HIPAY_METHOD_CODE</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
           		<item name="hipay_fullservice_generic_config_provider" xsi:type="object">HiPay\FullserviceMagento\Model\Method\GenericConfigProvider</item>
                <item name="hipay_cc_config_provider" xsi:type="object">HiPay\FullserviceMagento\Model\CcConfigProvider</item>
                <item name="hipay_split_config_provider" xsi:type="object">HiPay\FullserviceMagento\Model\Method\SplitConfigProvider</item>
            </argument>
        </arguments>
    </type>
     <virtualType name="HiPay\FullserviceMagento\Model\Session\Storage" type="Magento\Framework\Session\Storage">
        <arguments>
            <argument name="namespace" xsi:type="string">hipay</argument>
        </arguments>
    </virtualType>
     <virtualType name="HiPay\FullserviceMagento\Model\Session" type="Magento\Framework\Session\Generic">
        <arguments>
            <argument name="storage" xsi:type="object">HiPay\FullserviceMagento\Model\Session\Storage</argument>
        </arguments>
    </virtualType>
    <type name="HiPay\FullserviceMagento\Controller\Fullservice">
        <arguments>
            <argument name="hipaySession" xsi:type="object">HiPay\FullserviceMagento\Model\Session</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Url\SecurityInfo">
        <arguments>
            <argument name="secureUrlList" xsi:type="array">
                <item name="hipay" xsi:type="string">/hipay/</item>
            </argument>
        </arguments>
    </type>
</config>
